<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./headers.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>

<body class="bg-gray-200">
    <a class="skip-link" href="#maincontent">Skip to main</a>
    <div>
        <nav class="bg-gray-800 fixed w-full top-0 inset-x-0">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between h-16">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <img class="h-8 w-8" src="https://tailwindui.com/img/logos/workflow-mark-on-dark.svg"
                                alt="Workflow logo">
                        </div>
                        <div class="hidden md:block">
                            <div class="ml-10 flex items-baseline space-x-4">
                                <a href="/dashboard"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Monitor</a>

                                <a href="/activity"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700">Activity</a>

                                <div href="#" onmouseover="$('.onboardFlyout').show()"
                                    onmouseleave="$('.onboardFlyout').hide()"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">
                                    Onboard
                                    <div
                                        class=" w-48 -ml-16 rounded-lg bg-white z-10 absolute mt-3 shadow-lg onboardFlyout hidden animate__animated animate__fadeIn animate__faster">
                                        <ul class="text-black m-0">
                                            <a href="/dashboard/connIntro">
                                                <li
                                                    class="w-full p-3 rounded-lg border-b border-gray-200 hover:bg-gray-200">
                                                    Get started</li>
                                            </a>
                                            <li class="w-full p-3 rounded border-b border-gray-200 hover:bg-gray-200">
                                                Provisioning templates</li>
                                        </ul>
                                    </div>
                                </div>

                                <div href="#" onmouseover="$('.manageFlyout').show()"
                                    onmouseleave="$('.manageFlyout').hide()"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">
                                    Manage
                                    <div
                                        class=" w-48 -ml-16 rounded-lg bg-white z-10 absolute mt-3 shadow-lg manageFlyout hidden animate__animated animate__fadeIn animate__faster">
                                        <ul class="text-black m-0">
                                            <li
                                                class="w-full p-3 rounded-lg border-b border-gray-200 hover:bg-gray-200">
                                                Devices</li>
                                            <li class="w-full p-3 rounded border-b border-gray-200 hover:bg-gray-200">
                                                Types</li>
                                            <li class="w-full p-3 rounded border-b border-gray-200 hover:bg-gray-200">
                                                Device groups</li>
                                        </ul>
                                    </div>
                                </div>

                                <div href="#" onmouseover="$('.secureFlyout').show()"
                                    onmouseleave="$('.secureFlyout').hide()"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">
                                    Secure
                                    <div
                                        class=" w-48 -ml-16 rounded-lg bg-white z-10 absolute mt-3 shadow-lg secureFlyout hidden animate__animated animate__fadeIn animate__faster">
                                        <ul class="text-black m-0">
                                            <a href="/certificates">
                                                <li
                                                    class="w-full p-3 rounded-lg border-b border-gray-200 hover:bg-gray-200">
                                                    Certificates</li>
                                            </a>
                                            <a href="/policy">
                                                <li
                                                    class="w-full p-3 rounded border-b border-gray-200 hover:bg-gray-200">
                                                    Policies</li>
                                            </a>
                                            <li class="w-full p-3 rounded border-b border-gray-200 hover:bg-gray-200">
                                                Authorizers</li>
                                        </ul>
                                    </div>
                                </div>

                                <a href="#" onmouseover="$('.defendFlyout').show()"
                                    onmouseleave="$('.defendFlyout').hide()"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Defend
                                    <div
                                        class=" w-48 -ml-16 rounded-lg bg-white z-10 absolute mt-3 shadow-lg defendFlyout hidden animate__animated animate__fadeIn animate__faster">
                                        <ul class="text-black m-0">
                                            <li
                                                class="w-full p-3 rounded-lg border-b border-gray-200 hover:bg-gray-200">
                                                Certificates</li>
                                            <li class="w-full p-3 rounded border-b border-gray-200 hover:bg-gray-200">
                                                Policies</li>
                                            <li class="w-full p-3 rounded border-b border-gray-200 hover:bg-gray-200">
                                                Authorizers</li>
                                        </ul>
                                    </div>
                                </a>

                                <div href="#" onmouseover="$('.actFlyout').show()" onmouseleave="$('.actFlyout').hide()"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">
                                    Act
                                    <div
                                        class=" w-48 -ml-16 rounded-lg bg-white z-10 absolute mt-3 shadow-lg actFlyout hidden animate__animated animate__fadeIn animate__faster">
                                        <ul class="text-black m-0">
                                            <li
                                                class="w-full p-3 rounded-lg border-b border-gray-200 hover:bg-gray-200">
                                                Rules</li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="#"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Test</a>
                            </div>
                        </div>
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-4 flex items-center md:ml-6">
                            <button
                                class="p-1 border-2 border-transparent text-gray-400 rounded-full hover:text-white focus:outline-none focus:text-white focus:bg-gray-700"
                                aria-label="Notifications">
                                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                                </svg>
                            </button>

                            <!-- Profile dropdown -->
                            <div class="ml-3 relative">
                                <div>
                                    <button
                                        class="max-w-xs flex items-center text-sm rounded-full text-white focus:outline-none focus:shadow-solid"
                                        id="user-menu" aria-label="User menu" aria-haspopup="true">
                                        <img class="h-8 w-8 rounded-full"
                                            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                            alt="">
                                    </button>
                                </div>
                                <!--
                Profile dropdown panel, show/hide based on dropdown state.

                Entering: "transition ease-out duration-100"
                  From: "transform opacity-0 scale-95"
                  To: "transform opacity-100 scale-100"
                Leaving: "transition ease-in duration-75"
                  From: "transform opacity-100 scale-100"
                  To: "transform opacity-0 scale-95"
              -->
                                <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg hidden">
                                    <div class="py-1 rounded-md bg-white shadow-xs" role="menu"
                                        aria-orientation="vertical" aria-labelledby="user-menu">
                                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem">Your Profile</a>

                                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem">Settings</a>

                                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem">Sign out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="-mr-2 flex md:hidden">
                        <!-- Mobile menu button -->
                        <button
                            class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white">
                            <!-- Menu open: "hidden", Menu closed: "block" -->
                            <svg class="block h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16" />
                            </svg>
                            <!-- Menu open: "block", Menu closed: "hidden" -->
                            <svg class="hidden h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <!--
      Mobile menu, toggle classes based on menu state.

      Open: "block", closed: "hidden"
    -->
            <div class="hidden md:hidden">
                <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                    <a href="#"
                        class="block px-3 py-2 rounded-md text-base font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700">Dashboard</a>

                    <a href="#"
                        class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Team</a>

                    <a href="#"
                        class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Projects</a>

                    <a href="#"
                        class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Calendar</a>

                    <a href="#"
                        class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Reports</a>
                </div>
                <div class="pt-4 pb-3 border-t border-gray-700">
                    <div class="flex items-center px-5 space-x-3">
                        <div class="flex-shrink-0">
                            <img class="h-10 w-10 rounded-full"
                                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                alt="">
                        </div>
                        <div class="space-y-1">
                            <div class="text-base font-medium leading-none text-white">Tom Cook</div>
                            <div class="text-sm font-medium leading-none text-gray-400">tom@example.com</div>
                        </div>
                    </div>
                    <div class="mt-3 px-2 space-y-1">
                        <a href="#"
                            class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Your
                            Profile</a>

                        <a href="#"
                            class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Settings</a>

                        <a href="#"
                            class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Sign
                            out</a>
                    </div>
                </div>
            </div>
        </nav>

        <header class="bg-white shadow mt-16">
            <div class="flex max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl w-full font-bold leading-tight text-gray-900">
                    Activity
                </h1>
            </div>
        </header>
        <main>
            <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
                <!-- Replace with your content -->
                <div class="px-4 py-6 sm:px-0">
                    <div class="w-full h-auto">
                        <div class="row flex w-full">
                            <div class="widget bg-white border border-gray-400 w-full p-4 rounded-lg m-2">
                                <div
                                    class="widget-title border-b-2 py-2 pb-4 border-dashed border-gray-400 text-lg text-black w-full flex">
                                    <span class="w-full ml-4">Current action</span>
                                    <span class="w-1/6">
                                        <a href="/create/bulk-provisions"
                                            class="border border-gray-400 text-black rounded m-2 p-2 hover:border-black hover:bg-gray-100">New
                                            registration</a>
                                    </span>
                                </div>
                                <div class="widget-graph w-full h-auto p-2">
                                    <% if(pending.length == 0) { %>
                                    <center>
                                        <div class="text-center w-full h-full p-3">
                                            <span class="font-semibold">No bulk registration activities are
                                                currently
                                                running at this time.</span> <br>
                                            <span>When you start a bulk registration process, it will show up
                                                here.</span><br><br>
                                            <a href="/create/bulk-provisions"
                                                class="border border-gray-400 text-black rounded m-2 p-2 hover:border-black hover:bg-gray-100">Start
                                                registration</a>
                                        </div>
                                    </center>
                                    <% } else { %>
                                    <table class="min-w-full divide-y divide-gray-200">
                                        <thead>
                                            <tr>
                                                <th
                                                    class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                    Task ID
                                                </th>
                                                <th
                                                    class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                    Status
                                                </th>
                                                <th
                                                    class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                    Creation Date
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="bg-white divide-y divide-gray-200">
                                            <% pending.forEach(activity => { %>
                                            <tr>
                                                <td class="px-6 py-4 whitespace-no-wrap">
                                                    <div class="flex items-center">
                                                        <div class="ml-4">
                                                            <div class="text-sm leading-5 font-medium text-gray-900">
                                                                <%= activity.name %>
                                                            </div>
                                                            <div class="text-sm leading-5 text-gray-500">
                                                                <%= activity.description %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="px-6 py-4 whitespace-no-wrap">
                                                    <div class="text-sm leading-5 text-gray-900">
                                                        <%= activity.status %></div>
                                                </td>
                                                <td class="px-6 py-4 whitespace-no-wrap">
                                                    <span
                                                        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                                        <%= activity.createdOn %>
                                                    </span>
                                                </td>
                                            </tr>
                                            <% }) } %>
                                            <!-- More rows... -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row flex w-full">
                            <div class="widget bg-white border border-gray-400 w-full p-4 rounded-lg m-2">
                                <div
                                    class="widget-title border-b-2 py-2 pb-4 border-dashed border-gray-400 text-lg text-black w-full">
                                    <span class="ml-4">30 day bulk registration history</span>
                                </div>
                                <div class="widget-graph w-full h-auto p-2">
                                    <div class="flex flex-col">
                                        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                                <% if(finished.length == 0) { %>
                                                <center>
                                                    <p class="text-gray-500">You have no bulk registration activity
                                                        history at this time.</p>
                                                </center>
                                                <% } else { %>
                                                <div
                                                    class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                                    <table class="min-w-full divide-y divide-gray-200">
                                                        <thead>
                                                            <tr>
                                                                <th
                                                                    class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                                    Task ID
                                                                </th>
                                                                <th
                                                                    class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                                    Status
                                                                </th>
                                                                <th
                                                                    class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                                    Creation Date
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="bg-white divide-y divide-gray-200">
                                                            <% finished.forEach(activity => { %>
                                                            <tr>
                                                                <td class="px-6 py-4 whitespace-no-wrap">
                                                                    <div class="flex items-center">
                                                                        <div class="ml-4">
                                                                            <div
                                                                                class="text-sm leading-5 font-medium text-gray-900">
                                                                                <%= activity.name %>
                                                                            </div>
                                                                            <div
                                                                                class="text-sm leading-5 text-gray-500">
                                                                                <%= activity.description %>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-no-wrap">
                                                                    <div class="text-sm leading-5 text-gray-900">
                                                                        <%= activity.status %></div>
                                                                </td>
                                                                <td class="px-6 py-4 whitespace-no-wrap">
                                                                    <span
                                                                        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                                                        <%= activity.createdOn %>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <% }) } %>
                                                            <!-- More rows... -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /End replace -->
            </div>
        </main>
    </div>

</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</html>