<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./headers.ejs') %>
</head>

<body class="bg-white">
    <a class="skip-link" href="#maincontent">Skip to main</a>
    <div class="se-pre-con hidden">
    </div>
    <div>
        <nav
            class="theme-blue text-white fixed w-full top-0 inset-x-0 shadow-lg animate__animated animate__slideInDown animate__faster z-10">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between h-16">
                    <div class="flex items-center -ml-4">
                        <svg width="42" height="42" viewBox="0 0 24 24"
                            class="cursor-pointer rounded-full hover:bg-indigo-400 p-2"
                            onclick="$('.side-nav').toggle();$('.overlay').toggle()" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 6H20M4 12H20M4 18H20" stroke="#fff" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        <div class="flex-shrink-0 ml-3">
                            <img class="h-8 w-8" src="https://tailwindui.com/img/logos/workflow-mark-on-dark.svg"
                                alt="Workflow logo">
                        </div>
                        <div class="hidden md:block">
                            <div class="ml-10 flex items-baseline space-x-4">
                                <a href="/dashboard"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-white bg-indigo-400 focus:outline-none focus:text-white focus:bg-gray-700">Monitor</a>

                                <a href="/activity"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-white hover:bg-indigo-400 focus:outline-none focus:text-white focus:bg-gray-700">Activity</a>

                                <div href="#" onmouseover="$('.onboardFlyout').show()"
                                    onmouseleave="$('.onboardFlyout').hide()"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-white hover:bg-indigo-400 focus:outline-none focus:text-white focus:bg-gray-700">
                                    Onboard
                                    <div
                                        class=" w-48 -ml-16 rounded-lg bg-white z-10 absolute mt-3 shadow-lg onboardFlyout hidden animate__animated animate__fadeIn animate__faster">
                                        <ul class="text-black m-0">
                                            <a href="/dashboard/connIntro">
                                                <li
                                                    class="w-full p-3 rounded-lg border-b border-gray-200 hover:bg-gray-200">
                                                    Get started</li>
                                            </a>
                                            <li class="w-full p-3 rounded border-b border-gray-200 hover:bg-gray-200">
                                                Provisioning templates</li>
                                        </ul>
                                    </div>
                                </div>

                                <div href="#" onmouseover="$('.manageFlyout').show()"
                                    onmouseleave="$('.manageFlyout').hide()"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-white hover:bg-indigo-400 focus:outline-none focus:text-white focus:bg-gray-700">
                                    Manage
                                    <div
                                        class=" w-48 -ml-16 rounded-lg bg-white z-10 absolute mt-3 shadow-lg manageFlyout hidden animate__animated animate__fadeIn animate__faster">
                                        <ul class="text-black m-0">
                                            <a href="/devices">
                                                <li
                                                    class="w-full p-3 rounded-lg border-b border-gray-200 hover:bg-gray-200">
                                                    Devices</li>
                                            </a>
                                            <li class="w-full p-3 rounded border-b border-gray-200 hover:bg-gray-200">
                                                Types</li>
                                            <li class="w-full p-3 rounded border-b border-gray-200 hover:bg-gray-200">
                                                Device groups</li>
                                        </ul>
                                    </div>
                                </div>

                                <div href="#" onmouseover="$('.secureFlyout').show()"
                                    onmouseleave="$('.secureFlyout').hide()"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-white hover:bg-indigo-400 focus:outline-none focus:text-white focus:bg-gray-700">
                                    Secure
                                    <div
                                        class=" w-48 -ml-16 rounded-lg bg-white z-10 absolute mt-3 shadow-lg secureFlyout hidden animate__animated animate__fadeIn animate__faster">
                                        <ul class="text-black m-0">
                                            <a href="/certificates">
                                                <li
                                                    class="w-full p-3 rounded-lg border-b border-gray-200 hover:bg-gray-200">
                                                    Certificates</li>
                                            </a>
                                            <a href="/policy">
                                                <li
                                                    class="w-full p-3 rounded border-b border-gray-200 hover:bg-gray-200">
                                                    Policies</li>
                                            </a>
                                            <li class="w-full p-3 rounded border-b border-gray-200 hover:bg-gray-200">
                                                Authorizers</li>
                                        </ul>
                                    </div>
                                </div>

                                <a href="#" onmouseover="$('.defendFlyout').show()"
                                    onmouseleave="$('.defendFlyout').hide()"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-white hover:bg-indigo-400 focus:outline-none focus:text-white focus:bg-gray-700">Defend
                                    <div
                                        class=" w-48 -ml-16 rounded-lg bg-white z-10 absolute mt-3 shadow-lg defendFlyout hidden animate__animated animate__fadeIn animate__faster">
                                        <ul class="text-black m-0">
                                            <li
                                                class="w-full p-3 rounded-lg border-b border-gray-200 hover:bg-gray-200">
                                                Certificates</li>
                                            <li class="w-full p-3 rounded border-b border-gray-200 hover:bg-gray-200">
                                                Policies</li>
                                            <li class="w-full p-3 rounded border-b border-gray-200 hover:bg-gray-200">
                                                Authorizers</li>
                                        </ul>
                                    </div>
                                </a>

                                <div href="#" onmouseover="$('.actFlyout').show()" onmouseleave="$('.actFlyout').hide()"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-indigo-400 focus:outline-none focus:text-white focus:bg-gray-700">
                                    Act
                                    <div
                                        class=" w-48 -ml-16 rounded-lg bg-white z-10 absolute mt-3 shadow-lg actFlyout hidden animate__animated animate__fadeIn animate__faster">
                                        <ul class="text-black m-0">
                                            <li
                                                class="w-full p-3 rounded-lg border-b border-gray-200 hover:bg-gray-200">
                                                Rules</li>
                                        </ul>
                                    </div>
                                </div>

                                <a href="/test"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-white hover:bg-indigo-400 focus:outline-none focus:text-white focus:bg-gray-700">Test</a>
                            </div>
                        </div>
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-4 flex items-center md:ml-6">
                            <button
                                class="p-1 border-2 border-transparent text-white rounded-full hover:text-white focus:outline-none focus:text-white focus:bg-gray-700"
                                aria-label="Notifications">
                                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                                </svg>
                            </button>

                            <!-- Profile dropdown -->
                            <div class="ml-3 relative">
                                <div>
                                    <button
                                        class="max-w-xs flex items-center text-sm rounded-full text-white focus:outline-none focus:shadow-solid"
                                        id="user-menu" aria-label="User menu" aria-haspopup="true">
                                        <img class="h-8 w-8 rounded-full"
                                            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                            alt="">
                                    </button>
                                </div>
                                <!--
                Profile dropdown panel, show/hide based on dropdown state.

                Entering: "transition ease-out duration-100"
                  From: "transform opacity-0 scale-95"
                  To: "transform opacity-100 scale-100"
                Leaving: "transition ease-in duration-75"
                  From: "transform opacity-100 scale-100"
                  To: "transform opacity-0 scale-95"
              -->
                                <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg hidden">
                                    <div class="py-1 rounded-md bg-white shadow-xs" role="menu"
                                        aria-orientation="vertical" aria-labelledby="user-menu">
                                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem">Your Profile</a>

                                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem">Settings</a>

                                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem">Sign out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="-mr-2 flex md:hidden">
                        <!-- Mobile menu button -->
                        <button
                            class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white">
                            <!-- Menu open: "hidden", Menu closed: "block" -->
                            <svg class="block h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16" />
                            </svg>
                            <!-- Menu open: "block", Menu closed: "hidden" -->
                            <svg class="hidden h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <!--
      Mobile menu, toggle classes based on menu state.

      Open: "block", closed: "hidden"
    -->
            <div class="hidden md:hidden">
                <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                    <a href="#"
                        class="block px-3 py-2 rounded-md text-base font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700">Dashboard</a>

                    <a href="#"
                        class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Team</a>

                    <a href="#"
                        class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Projects</a>

                    <a href="#"
                        class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Calendar</a>

                    <a href="#"
                        class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Reports</a>
                </div>
                <div class="pt-4 pb-3 border-t border-gray-700">
                    <div class="flex items-center px-5 space-x-3">
                        <div class="flex-shrink-0">
                            <img class="h-10 w-10 rounded-full"
                                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                alt="">
                        </div>
                        <div class="space-y-1">
                            <div class="text-base font-medium leading-none text-white">Tom Cook</div>
                            <div class="text-sm font-medium leading-none text-gray-400">tom@example.com</div>
                        </div>
                    </div>
                    <div class="mt-3 px-2 space-y-1">
                        <a href="#"
                            class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Your
                            Profile</a>

                        <a href="#"
                            class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Settings</a>

                        <a href="#"
                            class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Sign
                            out</a>
                    </div>
                </div>
            </div>
        </nav>
        <header class="bg-white shadow mt-16 animate__animated animate__fadeIn animate__faster">
            <div class="flex max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl w-full font-bold leading-tight text-gray-900">
                    Monitor
                </h1>
            </div>
        </header>
        <div class="w-full h-full bg-black overlay fixed inset-x-0 hidden" style="top:64px;z-index:9;opacity: 0.3;"
            onclick="$('.side-nav').hide();$('.overlay').hide()"></div>
        <div class="side-nav services-panel h-full bg-white shadow-md fixed insex-x-0 z-10 border-r border-gray-300 animate__animated animate__slideInLeft animate__faster hidden p-4"
            style="width: 300px; top:64px;">
            <span class="text-sm text-gray-700">COMPUTE</span>
            <ul class="compute-ul w-full m-0 p-0 h-auto mt-4 font-semibold">
                <li class="w-full p-2 hover:bg-gray-300 rounded-lg cursor-pointer flex mb-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" class="mr-2" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 20L14 4M18 8L22 12L18 16M6 16L2 12L6 8" stroke="#4A5568" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Cloud Functions
                </li>
            </ul>
            <br>
            <span class="text-sm text-gray-700">STORAGE</span>
            <br>
            <ul class="compute-ul w-full m-0 p-0 h-auto mt-2 font-semibold">
                <li class="w-full p-2 hover:bg-gray-300 rounded-lg cursor-pointer flex mb-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" class="mr-2" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 20L14 4M18 8L22 12L18 16M6 16L2 12L6 8" stroke="#4A5568" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    File Store
                </li>
                <li class="w-full p-2 hover:bg-gray-300 rounded-lg cursor-pointer flex mb-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" class="mr-2" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4 7V17C4 19.2091 7.58172 21 12 21C16.4183 21 20 19.2091 20 17V7M4 7C4 9.20914 7.58172 11 12 11C16.4183 11 20 9.20914 20 7M4 7C4 4.79086 7.58172 3 12 3C16.4183 3 20 4.79086 20 7M20 12C20 14.2091 16.4183 16 12 16C7.58172 16 4 14.2091 4 12"
                            stroke="#374151" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Data Lake
                </li>
                <li class="w-full p-2 hover:bg-gray-300 rounded-lg cursor-pointer flex mb-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" class="mr-2" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4 7V17C4 19.2091 7.58172 21 12 21C16.4183 21 20 19.2091 20 17V7M4 7C4 9.20914 7.58172 11 12 11C16.4183 11 20 9.20914 20 7M4 7C4 4.79086 7.58172 3 12 3C16.4183 3 20 4.79086 20 7M20 12C20 14.2091 16.4183 16 12 16C7.58172 16 4 14.2091 4 12"
                            stroke="#374151" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Realtime Storage
                </li>
            </ul>
            <br>
            <span class="text-sm text-gray-700">TOOLS</span>
            <br>
            <ul class="compute-ul w-full m-0 p-0 h-auto mt-2 font-semibold">
                <li class="w-full p-2 hover:bg-gray-300 rounded-lg cursor-pointer flex mb-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" class="mr-2" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 20L14 4M18 8L22 12L18 16M6 16L2 12L6 8" stroke="#4A5568" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Device Registry
                </li>
                <li class="w-full p-2 hover:bg-gray-300 rounded-lg cursor-pointer flex mb-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" class="mr-2" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 20L14 4M18 8L22 12L18 16M6 16L2 12L6 8" stroke="#4A5568" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Cloud Scheduler
                </li>
                <li class="w-full p-2 hover:bg-gray-300 rounded-lg cursor-pointer flex mb-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" class="mr-2" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 20L14 4M18 8L22 12L18 16M6 16L2 12L6 8" stroke="#4A5568" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    API Gateway
                </li>
                <li class="w-full p-2 hover:bg-gray-300 rounded-lg cursor-pointer flex mb-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" class="mr-2" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 20L14 4M18 8L22 12L18 16M6 16L2 12L6 8" stroke="#4A5568" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Endpoints
                </li>
            </ul>
            <br>
            <span class="text-sm text-gray-700">ARTIFICIAL INTELLIGENCE</span>
            <br>
            <ul class="compute-ul w-full m-0 p-0 h-auto mt-2 font-semibold">
                <li class="w-full p-2 hover:bg-gray-300 rounded-lg cursor-pointer flex mb-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" class="mr-2" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 20L14 4M18 8L22 12L18 16M6 16L2 12L6 8" stroke="#4A5568" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Automation
                </li>
                <li class="w-full p-2 hover:bg-gray-300 rounded-lg cursor-pointer flex mb-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" class="mr-2" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 20L14 4M18 8L22 12L18 16M6 16L2 12L6 8" stroke="#4A5568" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Cloud Vision
                </li>
                <li class="w-full p-2 hover:bg-gray-300 rounded-lg cursor-pointer flex mb-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" class="mr-2" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 20L14 4M18 8L22 12L18 16M6 16L2 12L6 8" stroke="#4A5568" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Video Monitoring
                </li>
            </ul>
        </div>
        <main>
            <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
                <!-- Replace with your content -->
                <div class="px-4 py-6 sm:px-0">
                    <div class="w-full h-auto">
                        <div class="row flex w-full animate__animated animate__backInUp">
                            <div
                                class="widget bg-white border border-gray-400 w-1/4 p-4 rounded-lg m-2 hover:shadow-md hover:border-gray-200">
                                <div
                                    class="widget-title border-b-2 py-2 pb-4 border-dashed border-gray-400 text-lg text-black w-full">
                                    <span class="font-semibold flex">
                                        <svg width="24" height="24" viewBox="0 0 24 24" class="mr-1" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13 16H12V12H11M12 8H12.01M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                                                stroke="#4A5568" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>

                                        Project info</span>
                                </div>
                                <div class="w-full h-auto p-2">
                                    <span class="text-sm font-semibold">Project name</span>
                                    <br>
                                    <span class="text-sm text-gray-800"><%= project.name %></span>
                                    <br>
                                    <span class="text-sm font-semibold">Project ID</span>
                                    <br>
                                    <span class="text-sm text-gray-800"><%= projectID %></span>
                                    <br>
                                    <span class="text-sm font-semibold">Created on</span>
                                    <br>
                                    <span class="text-sm text-gray-800"><%= project.createdAt %></span>
                                </div>
                            </div>
                            <div
                                class="widget bg-white border border-gray-400 w-1/4 p-4 rounded-lg m-2 hover:shadow-md hover:border-gray-200">
                                <div
                                    class="widget-title border-b-2 py-2 pb-4 border-dashed border-gray-400 text-lg text-black w-full">
                                    <span class="font-semibold">APIs</span>
                                </div>
                                <div class="widget-graph w-full h-auto p-2 m-0">
                                    <canvas id="apirequests" height="100"></canvas>
                                </div>
                            </div>
                            <div
                                class="widget bg-white border border-gray-400 w-1/2 p-4 rounded-lg m-2 hover:shadow-md hover:border-gray-200">
                                <div
                                    class="widget-title border-b-2 py-2 pb-4 border-dashed border-gray-400 text-lg text-black w-full">
                                    <span>Rules executed</span>
                                </div>
                                <div class="widget-graph w-full h-auto p-2">
                                    <canvas id="rulesExecuted" height="60"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="row flex w-full animate__animated animate__backInUp">
                            <div class="widget bg-white border border-gray-400 w-1/2 p-4 rounded-lg m-2">
                                <div
                                    class="widget-title border-b-2 py-2 pb-4 border-dashed border-gray-400 text-lg text-black w-full">
                                    <span>Successfull Connections</span>
                                </div>
                                <div class="widget-graph w-full h-auto p-2">
                                    <div id="successfullConnections" class="chart"></div>
                                </div>
                            </div>
                            <div class="widget bg-white border border-gray-400 w-1/2 p-4 rounded-lg m-2">
                                <div
                                    class="widget-title border-b-2 py-2 pb-4 border-dashed border-gray-400 text-lg text-black w-full">
                                    <span>Shadow updates</span>
                                </div>
                                <div class="widget-graph w-full h-auto p-2">
                                    <canvas id="shadowUpdates" height="100"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="row flex w-full animate__animated animate__backInUp">
                            <div class="widget bg-white border border-gray-400 w-1/2 p-4 rounded-lg m-2">
                                <div
                                    class="widget-title border-b-2 py-2 pb-4 border-dashed border-gray-400 text-lg text-black w-full">
                                    <span>Messages</span>
                                </div>
                                <div class="widget-graph w-full h-auto p-2 overflow-auto">
                                    <table id="messages_realtime" class="table-auto w-full">
                                        <thead>
                                            <tr>
                                                <th class="px-4 py-2">Author</th>
                                                <th class="px-4 py-2">Payload</th>
                                                <th class="px-4 py-2">Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="border px-4 py-2">Ring Light</td>
                                                <td class="border px-4 py-2">{something}}</td>
                                                <td class="border px-4 py-2">Today</td>
                                            </tr>
                                            <tr class="bg-gray-100">
                                                <td class="border px-4 py-2">A Long and </td>
                                                <td class="border px-4 py-2">Adam</td>
                                                <td class="border px-4 py-2">112</td>
                                            </tr>
                                            <tr>
                                                <td class="border px-4 py-2">Intro to JavaScript</td>
                                                <td class="border px-4 py-2">Chris</td>
                                                <td class="border px-4 py-2">1,280</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="widget bg-white border border-gray-400 w-1/2 p-4 rounded-lg m-2">
                                <div
                                    class="widget-title border-b-2 py-2 pb-4 border-dashed border-gray-400 text-lg text-black w-full">
                                    <span>Messages published</span>
                                </div>
                                <div class="widget-graph w-full h-auto p-2">
                                    <div id="messagesPublished" height="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row flex w-full">

                        </div>
                    </div>
                </div>
                <!-- /End replace -->
            </div>
        </main>
    </div>

</body>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    var socket = io()
    socket.emit('login_dash', '<%= owner %>')

    var successfullConnections = new ApexCharts(document.querySelector('#successfullConnections'), {
        chart: {
            type: 'bar',
            height: '250'
        },
        colors: ['#4285F4'],
        series: [],
        xaxis: {
            categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999]
        },
        noData: {
            text: 'Not enough data to show'
        }
    });

    successfullConnections.render()

    var messagesPublishedOptions = {
        chart: {
            type: 'line',
            height:"200"
        },
        series: [{
            name: 'messages',
            data: [0]
        }],
        xaxis: {
            categories: [0]
        },
        stroke:{
            curve: 'straight',
        }
    }

    var messagesPublished = new ApexCharts(document.querySelector("#messagesPublished"), messagesPublishedOptions);

    messagesPublished.render();

    socket.on('device_online', device => {
        $.getJSON("/api/connections", function (response) {
            successfullConnections.updateSeries([{
                name: 'connection',
                data: response
            }])
        })
    })

    socket.on('published', async details => {
        //addMessage(details)
        //messagesPublishedOptions.series[0].data.push((messagesPublishedOptions.series[0].data.length - 1) + 1)
        //messagesPublished.render()
        //addData(messagesPublished, getDateTime().time, messagesPublished.data.datasets[0].data[
        //messagesPublished.data.datasets[0].data.length - 1] + 1)
    })

    function addMessage(details) {
        var table = document.getElementById("messages_realtime");
        var row = table.insertRow(0);
        var name = row.insertCell(0);
        var payload = row.insertCell(1);
        var time = row.insertCell(2);

        name.innerHTML = details.author.name;
        payload.innerHTML = details.content;
        time.innerHTML = details.createdTimestamp;
    }

    function getDateTime() {
        var today = new Date();
        var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();

        return {
            date,
            time
        }
    }
</script>
<!--
<script>
    
    var socket;
    var showLiveBlocks = false;
    $(function () {
        socket = io();
        socket.emit('login_dash', '<%= owner %>')

        socket.on('published', async details => {
            await showSentIndicator(details.author.id)
            await showRecievedIndicator(details.device.id)
            if(showLiveBlocks){
                await makeDataBlock(details)
            }
            $(`._feed_${details.feed.id}`).html(details.content)
        })

        socket.on('device_online', device => {
            if (document.querySelector(`.active_device_${device.id}`) == 'undefined' || document.querySelector(`.active_device_${device.id}`) == null) {
                addDev(device)
            } else {
                $(`#${device.id}_status`).html(checkStatus(device.status))
            }
        })

        socket.on('device_disconnected', device => {
            $(`.active_device_${device.id}`).removeClass('animate__slideInRight').addClass(
                'animate__slideOutRight')
            $(`.active_device_${device.id}`).delay(800).hide('fast', function () {
                $(`.active_device_${device.id}`).remove();
            })
        })

    });

    const showRecievedIndicator = (id) => {
            $(`.r_indicator_${id}`).hide().show()
            setTimeout(function () {
                $(`.r_indicator_${id}`).hide()
            }, 350);
        },
        showSentIndicator = (id) => {
            $(`.s_indicator_${id}`).hide().show()
            setTimeout(function () {
                $(`.s_indicator_${id}`).hide()
            }, 350);
        }


    function addDev(device) {
        var devTemplate = `<li class="active_device_${device.id} animate__animated animate__slideInRight animate__faster w-full mb-2 h-12 flex rounded px-2 pt-1 hover:bg-gray-600 cursor-pointer">
                    <img src="deviceIcon/${device.icon}" alt="" type="image/jpeg" class="h-10 w-10 rounded-full bg-black">
                    <span class="text-white font-semibold py-2 px-2 w-full">${device.name}</span>
                    <span title="Message Recieved"
                        class="r_indicator_${device.id} bg-red-500 rounded-full h-2 w-2 float-right mt-4"
                        style="display: none;"></span>
                    <span title="Message Sent"
                        class="s_indicator_${device.id} bg-green-500 rounded-full h-2 w-2 float-right mt-4"
                        style="display: none;"></span>
                </li>`
        $(".onlineDevicesContainer").append(devTemplate)
    }

    function checkStatus(status) {
        console.log(status)
        if (status) {
            return "ONLINE"
        } else if (!status) {
            return "OFFLINE"
        }
    }
</script>
<script>
    var genrateId = function () {
        return '_' + Math.random().toString(36).substr(2, 9);
    };
    $(document).ready(async () => {
        const rows = <%-JSON.stringify(project.rows) %>
        const widgets = <%-JSON.stringify(project.widgets) %>
        var positionSortedWidgets = Array(widgets.length)

        await rows.forEach(createRow)
        await widgets.forEach(widget => {
            positionSortedWidgets[widget.pos] = widget
        })

        await createWidgets()
        delete widgets
        delete rows

        const draggables = document.querySelectorAll('.widget')
        var widgetRows = document.querySelectorAll('.widgetrow')

        draggables.forEach(draggable => {

            draggable.addEventListener('dragstart', () => {
                widgetRows.forEach(row => {
                    $(row).addClass("border-2 border-dashed border-gray-700")
                })
                $(".addRow").show("fast")
                $(draggable).addClass(
                    'opacity-50 draggingWidget border-2 border-dashed ')
            })

            draggable.addEventListener('dragend', () => {
                widgetRows.forEach(row => {
                    $(row).removeClass("border-2 border-dashed").removeClass(
                        'border-gray-700')
                    $(row).removeClass('border-gray-300').removeClass(
                        'border-red-800')
                })
                $(".addRow").hide("fast")
                $(draggable).removeClass(
                    'opacity-50 draggingWidget border-2 border-dashed ')
            })

        })

        function makeRowsDroppable() {
            widgetRows = document.querySelectorAll('.widgetrow')
            widgetRows.forEach(row => {
                row.addEventListener('dragover', e => {
                    if (row.childElementCount >= 4) {
                        //adjustWidgets()
                        return
                    } else {
                        e.preventDefault()
                        $(row).removeClass('border-gray-700').addClass('border-gray-300')
                        //adjustWidgets(row)
                        onDragOver(row, e)
                    }
                })
                row.addEventListener('dragleave', e => {
                    e.preventDefault()
                    $(row).removeClass('border-gray-300').addClass("border-gray-700")
                    //adjustWidgets()
                })

                row.addEventListener('drop', () => {
                    //updateLayout()
                    removeEmptyRows()
                })
            })
        }

        function adjustWidgets() {
            widgetRows.forEach(row => {
                if (row.childElementCount == 3) {
                    row.childNodes.forEach(widget => {
                        if ($(widget).hasClass("customWidth")) return
                        $(widget).removeClass("w-1/4").removeClass('w-full').removeClass(
                            'w-1/2').addClass(
                            'w-1/3')
                    })
                } else if (row.childElementCount == 2) {
                    row.childNodes.forEach(widget => {
                        if ($(widget).hasClass("customWidth")) return
                        $(widget).removeClass('w-1/4').removeClass('w-1/3').removeClass(
                            'w-full').addClass(
                            'w-1/2')
                    })
                } else if (row.childElementCount == 4) {
                    row.childNodes.forEach(widget => {
                        if ($(widget).hasClass("customWidth")) return
                        $(widget).removeClass('w-1/3').removeClass('w-full').removeClass(
                            'w-1/2').addClass(
                            'w-1/4')
                    })
                } else if (row.childElementCount == 1) {
                    row.childNodes.forEach(widget => {
                        if ($(widget).hasClass("customWidth")) return
                        $(widget).removeClass('w-1/2').addClass('w-full')
                    })
                } else if (row.childElementCount == 0) {
                    if ($(row).hasClass('addRow')) return
                }
            })
        }

        function onDragOver(row, e) {
            const afterElement = getDragAfterElement(row, e.clientX)
            const draggable = document.querySelector('.draggingWidget')

            if ($(row).hasClass('addRow')) {
                var rowId = genrateId()
                var newRow = `<div id="${rowId}" class="row widgetrow flex w-full h-48 mb-3 p-3"></div>`

                $(newRow).insertBefore(row)
                $(`#${rowId}`).append(draggable)

                $(`#${rowId}`).on('dragover', e => {
                    e.preventDefault()
                    $(`#${rowId}`).addClass('border-2 border-dashed border-gray-300')
                    if (afterElement == null) {
                        $(`#${rowId}`).append(draggable)
                    } else {
                        document.querySelector(`#${rowId}`).insertBefore(draggable,
                            afterElement)
                    }
                })

                $(`#${rowId}`).on('dragleave', e => {
                    $(`#${rowId}`).removeClass('border-gray-300').addClass("border-gray-700")
                })

                makeRowsDroppable()
                return
            } else {
                if (afterElement == null) {
                    row.appendChild(draggable)
                } else {
                    row.insertBefore(draggable, afterElement)
                }
            }
        }

        function getDragAfterElement(row, x) {
            const draggableElements = [...row.querySelectorAll('.widget:not(.draggingWidget)')]
            return draggableElements.reduce((closest, child) => {
                const box = child.getBoundingClientRect()
                const offset = x - box.left - box.width / 2
                if (offset < 0 && offset > closest.offset) {
                    return {
                        offset,
                        element: child
                    }
                } else {
                    return closest
                }
            }, {
                offset: Number.NEGATIVE_INFINITY
            }).element
        }

        makeRowsDroppable()

        function removeEmptyRows() {
            widgetRows.forEach(row => {
                if (row.childElementCount === 0) {
                    $(`#titleFor_${row.id}`).remove()
                    $(row).remove()
                }
            })
        }

        function createRow(row) {
            var template = `<span id="titleFor_${row.id}" class="text-gray-500 text-lg mb-2">${row.name}</span><br>
                            <div id="${row.id}" class="row widgetrow flex w-full h-48 mb-3 p-3"></div>`
            $(template).insertBefore(".addRow")
        }

        function createWidgets() {

            positionSortedWidgets.forEach(widget => {
                if (widget.type === "BUTTON") {
                    var template =
                        `<div class="widget mx-3 w-${widget.width} customWidth h-full px-4 py-2 rounded-lg" draggable="true" style="background-color: ${widget.BackGround};color: ${widget.color} !important;">
                                    <span class="text-lg">${widget.label}</span>
                                    <br>
                                    <button id="widget_${widget.id}" class="widgetButton w-full mt-4 mb-2">
                                        <span class="_feed_${widget.feed}" href="#">${widget.currentState}</span>
                                    </button>
                        </div>`

                        $(`#${widget.inRow}`).append(template)
                        $(`#widget_${widget.id}`).data('options', { type: 'ONOFF', device:widget.deviceId, feed: widget.feed})
                        $(`#widget_${widget.id}`).data('currentData', widget.currentState)
                        makeButtonsClickable()
                }
            })
        }
    })
</script>
<script>
    var lastDataBlock = null;

    function showLiveData() {
        $(".main").hide()
        $('.liveData').show()
        $('.livedataContainer').html('')
        showLiveBlocks = true
    }

    function hideLiveData(){
       $(".main").show()
       $('.liveData').hide()
       showLiveBlocks = false
    }

    async function makeDataBlock(data) {
        var id = `_block_${genrateId()}`
        var block = `<div id='${id}' class="dataBlock w-full h-auto theme-dark-bg rounded-lg mt-4 animate__animated animate__slideInDown animate__faster" style="min-height: 16rem;border:3px solid #36393f;">
                <div class="w-full h-16 p-4 flex">
                    <span class="text-white text-xl">${data.author.name}</span>
                    &nbsp;
                    <svg width="24" height="24" viewBox="0 0 24 24" class="mt-1" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 5L21 12M21 12L14 19M21 12L3 12" stroke="#4A5568" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    &nbsp;
                    <span class="text-white text-xl">${data.device.name} : ${data.content}</span>
                    &nbsp;&nbsp;
                    <span class="text-gray-700 float-right text-sm mt-1">${data.createdTimestamp}</span>
                </div>
                <div class="dataContainer py-4 flex w-full h-full">
                    <div class="w-1/3 theme-bg text-white mx-4 rounded-lg h-56">${JSON.stringify(data.feed)}</div>
                    <div class="w-1/3 theme-bg text-white mx-4 rounded-lg h-56">${JSON.stringify(data.device)}</div>
                    <div class="w-1/3 theme-bg text-white mx-4 rounded-lg h-56">${JSON.stringify(data.author)}</div>
                </div>
            </div>`

        if (lastDataBlock !== null) {
            await $(block).insertBefore(lastDataBlock)
        } else {
            await $('.livedataContainer').append(block)
        }
        lastDataBlock = `#${id}`
    }
</script>
<script>
    function makeButtonsClickable(){
        document.querySelectorAll('.widgetButton').forEach(giveButtonsAbility)
    }
    function giveButtonsAbility(button){
        if($(button).data('options').type === "ONOFF"){
            button.addEventListener('click', () => publish_ONOFF(button, $(button).data('options')), false)
        }
    }
</script>
<script>
    async function publish_ONOFF(button, options){
        var currentDataOfButton = $(button).data('currentData')
        var content;

        if(currentDataOfButton == "ON"){
            content = "OFF"
            $(button).data('currentData', content).html(`<span class="_feed_${options.feed}" href="#">${content}</span>`)
        }else{
            content = "ON"
            $(button).data('currentData', content).html(`<span class="_feed_${options.feed}" href="#">${content}</span>`)
        }

        await socket.emit('dash_publish', { dashboardId: '<%= dashboardId %>' ,deviceID: options.device, feed: options.feed, content, authorId: '<%= owner %>', timeStamp: Date.now() })
    }
</script>
-->

</html>