<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../headers.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>

<body class="bg-gray-200">
    <a class="skip-link" href="#maincontent">Skip to main</a>
    <div>
        <nav class="bg-gray-800 fixed w-full top-0 inset-x-0">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between h-16">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <img class="h-8 w-8" src="https://tailwindui.com/img/logos/workflow-mark-on-dark.svg"
                                alt="Workflow logo">
                        </div>
                        <div class="hidden md:block">
                            <div class="ml-10 flex items-baseline space-x-4">
                                <a href="/dashboard"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Monitor</a>

                                <a href="/activity"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Activity</a>

                                <a href="#"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Onboard</a>

                                <a href="#"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Manage</a>

                                <a href="#"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Secure</a>

                                <a href="#"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Defend</a>

                                <a href="#"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Act</a>

                                <a href="#"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Test</a>
                            </div>
                        </div>
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-4 flex items-center md:ml-6">
                            <button
                                class="p-1 border-2 border-transparent text-gray-400 rounded-full hover:text-white focus:outline-none focus:text-white focus:bg-gray-700"
                                aria-label="Notifications">
                                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                                </svg>
                            </button>

                            <!-- Profile dropdown -->
                            <div class="ml-3 relative">
                                <div>
                                    <button
                                        class="max-w-xs flex items-center text-sm rounded-full text-white focus:outline-none focus:shadow-solid"
                                        id="user-menu" aria-label="User menu" aria-haspopup="true">
                                        <img class="h-8 w-8 rounded-full"
                                            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                            alt="">
                                    </button>
                                </div>
                                <!--
                Profile dropdown panel, show/hide based on dropdown state.

                Entering: "transition ease-out duration-100"
                  From: "transform opacity-0 scale-95"
                  To: "transform opacity-100 scale-100"
                Leaving: "transition ease-in duration-75"
                  From: "transform opacity-100 scale-100"
                  To: "transform opacity-0 scale-95"
              -->
                                <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg hidden">
                                    <div class="py-1 rounded-md bg-white shadow-xs" role="menu"
                                        aria-orientation="vertical" aria-labelledby="user-menu">
                                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem">Your Profile</a>

                                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem">Settings</a>

                                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem">Sign out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="-mr-2 flex md:hidden">
                        <!-- Mobile menu button -->
                        <button
                            class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white">
                            <!-- Menu open: "hidden", Menu closed: "block" -->
                            <svg class="block h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16" />
                            </svg>
                            <!-- Menu open: "block", Menu closed: "hidden" -->
                            <svg class="hidden h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <!--
      Mobile menu, toggle classes based on menu state.

      Open: "block", closed: "hidden"
    -->
            <div class="hidden md:hidden">
                <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                    <a href="#"
                        class="block px-3 py-2 rounded-md text-base font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700">Dashboard</a>

                    <a href="#"
                        class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Team</a>

                    <a href="#"
                        class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Projects</a>

                    <a href="#"
                        class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Calendar</a>

                    <a href="#"
                        class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Reports</a>
                </div>
                <div class="pt-4 pb-3 border-t border-gray-700">
                    <div class="flex items-center px-5 space-x-3">
                        <div class="flex-shrink-0">
                            <img class="h-10 w-10 rounded-full"
                                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                alt="">
                        </div>
                        <div class="space-y-1">
                            <div class="text-base font-medium leading-none text-white">Tom Cook</div>
                            <div class="text-sm font-medium leading-none text-gray-400">tom@example.com</div>
                        </div>
                    </div>
                    <div class="mt-3 px-2 space-y-1">
                        <a href="#"
                            class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Your
                            Profile</a>

                        <a href="#"
                            class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Settings</a>

                        <a href="#"
                            class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Sign
                            out</a>
                    </div>
                </div>
            </div>
        </nav>

        <header class="bg-white shadow mt-16">
            <div class="flex max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl w-full font-bold leading-tight text-gray-900">
                    <span class="text-sm text-gray-400">POLICY</span>
                    <br>
                    <%= policy.policy.name %>
                </h1>
            </div>
        </header>
        <main>
            <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
                <!-- Replace with your content -->
                <div class="bg-white shadow overflow-hidden sm:rounded-lg w-5/12 mx-2 flex">
                    <div class="px-4 py-5 border-r-2 border-gray-200 sm:px-6 w-1/2">
                        <ul class="w-full h-auto m-0 text-center">
                            <li class="w-full p-2 cursor-pointer bg-gray-300 rounded-lg mb-2 tabButton">Overview</li>
                            <li class="w-full p-2 cursor-pointer hover:bg-gray-200 rounded-lg mb-2 tabButton">Certificates</li>
                            <li class="w-full p-2 cursor-pointer hover:bg-gray-200 rounded-lg mb-2 tabButton">Groups</li>
                        </ul>
                    </div>
                    <div class="px-4 py-5 sm:px-6 w-9/12 Overview">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                            Policy RN
                        </h3>
                        <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
                            A policy RN uniquely identifies this policy.
                        </p>
                        <div class="p-2 px-4 rounded bg-gray-800 w-full my-4">
                            <span class="text-gray-100 font-semibold text-lg">
                                <%= policy.resource %>
                            </span>
                        </div>
                        <dl>
                            <div class="bg-gray-50 px-4 py-5 border-b border-gray-200">
                                <h3 class="text-lg leading-6 font-medium text-gray-900 mb-2">
                                    Date Created
                                </h3>
                                <span>
                                    <%= policy.policy.createdOn %>
                                </span>
                            </div>
                            <div class="bg-white px-4 py-5">
                                <h3 class="text-lg leading-6 font-medium text-gray-900">
                                    Policy Document
                                </h3>
                                <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
                                    The policy document defines the privileges of the request.
                                </p>
                            </div>
                            <div class="bg-gray-50 px-4 py-5 -mt-4 border-b border-gray-200">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 flex"
                                    for="grid-state">
                                   <span class="w-full">VERSION 1</span>
                                   <span class="text-blue-400">Edit</span>
                                </label>
                                <div class="relative flex w-full mb-3 bg-gray-300 p-2 rounded  border border-gray-500">
                                    <pre class="text-gray-700 break-word"><%= JSON.stringify(policy.policy) %></pre>
                                </div>
                            </div>
                        </dl>
                    </div>
                    <div class="px-4 py-5 sm:px-6 w-9/12 Certificates hidden">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                            Certificates
                        </h3>
                        <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
                            A policy RN uniquely identifies this policy.
                        </p>
                        <div class="p-2 px-4 rounded bg-gray-800 w-full my-4">
                            <span class="text-gray-100 font-semibold text-lg">
                                <%= policy.resource %>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- /End replace -->
            </div>
        </main>
    </div>

</body>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    var activeTab = '.Overview'
    document.querySelectorAll('.tabButton').forEach(button => {
        button.addEventListener('click', () => {
            $('.tabButton.bg-gray-300').removeClass('bg-gray-300').addClass('hover:bg-gray-200')
            $(activeTab).hide()
            $(button).addClass('bg-gray-300').removeClass('hover:bg-gray-200')
            $(`.${button.innerHTML}`).show()
            activeTab = `.${button.innerHTML}`
        }, false)
    })
</script>
</html>